{
    "prefixList": [
        {
            "name": "pl-pri-usw2az12n001-net-v4",
            "address-family": "IPv4",
            "entries": {
                "Cidr": "10.220.0.0/16",
                "Description": "ndc w2"
            },
            "Tags": {
                "NDC-PRIV-NET-GRP": "yes"
            }
        },
        {
            "name": "pl-pri-use2az12n002-net-v4",
            "address-family": "IPv4",
            "entries": {
                "Cidr": "10.224.0.0/16",
                "Description": "ndc e2"
            },
            "Tags": {
                "NDC-PRIV-NET-GRP": "yes"
            }
        },
        {
            "name": "pl-pri-use1az24n003-net-v4",
            "address-family": "IPv4",
            "entries": {
                "Cidr": "10.228.0.0/16",
                "Description": "ndc e1"
            },
            "Tags": {
                "NDC-PRIV-NET-GRP": "yes"
            }
        },
        {
            "name": "pl-pub-usw2az12n001-net-v4",
            "address-family": "IPv4",
            "entries": {
                "Cidr": "206.204.65.0/24",
                "Description": "ndc e1 mav"
            },
            "Tags": {
                "NDC-PUB-NET-GRP": "yes"
            }
        },
        {
            "name": "pl-pub-use2az12n002-net-v4",
            "address-family": "IPv4",
            "entries": {
                "Cidr": "206.204.70.0/24",
                "Description": "ndc e2 mav"
            },
            "Tags": {
                "NDC-PUB-NET-GRP": "yes"
            }
        },
        {
            "name": "pl-pub-use1az24n003-net-v4",
            "address-family": "IPv4",
            "entries": {
                "Cidr": "206.204.74.0/24",
                "Description": "ndc e1 mav"
            },
            "Tags": {
                "NDC-PUB-NET-GRP": "yes"
            }
        },
        {
            "name": "pl-pri-usw2az12v001-net-v4",
            "address-family": "IPv4",
            "entries": {
                "Cidr": "10.232.0.0/15",
                "Description": "VMC w2"
            },
            "Tags": {
                "VMC-PRIV-NET-GRP": "yes"
            }
        },
        {
            "name": "pl-pri-use2az12v002-net-v4",
            "address-family": "IPv4",
            "entries": {
                "Cidr": "10.234.0.0/15",
                "Description": "VMC e2"
            },
            "Tags": {
                "VMC-PRIV-NET-GRP": "yes"
            }
        },
        {
            "name": "pl-pri-use1az12v003-net-v4",
            "address-family": "IPv4",
            "entries": {
                "Cidr": "10.236.0.0/15",
                "Description": "VMC e1"
            },
            "Tags": {
                "VMC-PRIV-NET-GRP": "yes"
            }
        },
        {
            "name": "pl-pub-usw2az12v001-net-v4",
            "address-family": "IPv4",
            "entries": {
                "Cidr": "206.204.66.192/26",
                "Description": "VMC w2"
            },
            "Tags": {
                "VMC-PUB-NET-GRP": "yes"
            }
        },
        {
            "name": "pl-pub-use2az12v002-net-v4",
            "address-family": "IPv4",
            "entries": {
                "Cidr": "206.204.70.192/26",
                "Description": "VMC e2"
            },
            "Tags": {
                "VMC-PUB-NET-GRP": "yes"
            }
        },
        {
            "name": "pl-pub-use1az24v003-net-v4",
            "address-family": "IPv4",
            "entries": {
                "Cidr": "206.204.74.192/26",
                "Description": "VMC e1"
            },
            "Tags": {
                "VMC-PUB-NET-GRP": "yes"
            }
        },
        {
            "name": " pl-pri-usw2r123p1-net-v4",
            "address-family": "IPv4",
            "entries": {
                "Cidr": "10.222.128.0/18",
                "Description": "rdc3 w2az3"
            },
            "Tags": {
                "RDC-PRIV-NET-GRP": "yes"
            }
        },
        {
            "name": " pl-pri-use2r456p1-net-v4",
            "address-family": "IPv4",
            "entries": {
                "Cidr": "10.226.128.0/18",
                "Description": "rdc6 e2az3"
            },
            "Tags": {
                "RDC-PRIV-NET-GRP": "yes"
            }
        },
        {
            "name": " pl-pri-use1r789p1-net-v4",
            "address-family": "IPv4",
            "entries": {
                "Cidr": "10.230.128.0/18",
                "Description": "rdc9 e1az3"
            },
            "Tags": {
                "RDC-PRIV-NET-GRP": "yes"
            }
        },
        {
            "name": " pl-pri-use2r456p1-lo-v4",
            "address-family": "IPv4"
        },
        {
            "name": " pl-pri-usw2r123p1-lo-v4",
            "address-family": "IPv4"
        },
        {
            "name": " pl-pri-use1r789p1-lo-v4",
            "address-family": "IPv4",
            "entries": {
                "Cidr": "10.255.58.0/25",
                "Description": "rdc7 UPFv e1az2"
            },
            "Tags": {
                "RDC-PRIV-NET-GRP": "yes"
            }
        },
        {
            "name": " pl-pub-usw2r123p1-net-v4",
            "address-family": "IPv4"
        },
        {
            "name": " pl-pub-use2r456p1-net-v4",
            "address-family": "IPv4"
        },
        {
            "name": " pl-pub-use1r789p1-net-v4",
            "address-family": "IPv4",
            "entries": {
                "Cidr": "206.204.75.56/30",
                "Description": "SMF UPF rdc9"
            },
            "Tags": {
                "RDC-PUB-NET-GRP": "yes"
            }
        },
        {
            "name": " pl-pub-use2r456p1-lo-v4",
            "address-family": "IPv4"
        },
        {
            "name": " pl-pub-usw2r123p1-lo-v4 ",
            "address-family": "IPv4"
        },
        {
            "name": " pl-pub-use1r789p1-lo-v4",
            "address-family": "IPv4"
        },
        {
            "name": " pl-pri-usw2az1r001p1-ue-v4",
            "address-family": "IPv4"
        },
        {
            "name": " pl-pri-usw2az2r002p1-ue-v4",
            "address-family": "IPv4"
        },
        {
            "name": " pl-pri-usw2az3r003p1-ue-v4",
            "address-family": "IPv4"
        },
        {
            "name": " pl-pri-use2az1r004p1-ue-v4",
            "address-family": "IPv4"
        },
        {
            "name": " pl-pri-use2az2r005p1-ue-v4",
            "address-family": "IPv4"
        },
        {
            "name": " pl-pri-use2az3r006p1-ue-v4",
            "address-family": "IPv4"
        },
        {
            "name": " pl-pri-use1az2r007p1-ue-v4",
            "address-family": "IPv4",
            "entries": {
                "Cidr": "10.124.52.0/22",
                "Description": "XCAP IP Pool"
            },
            "Tags": {
                "E1-UPFV-UE-PRI-GRP": "yes"
            }
        },
        {
            "name": " pl-pri-use1az4r008p1-ue-v4",
            "address-family": "IPv4"
        },
        {
            "name": " pl-pri-use1az6r009p1-ue-v4",
            "address-family": "IPv4"
        },
        {
            "name": " pl-pri-usw2greenfieldp1-net-v4",
            "address-family": "IPv4"
        },
        {
            "name": " pl-pri-use2greenfieldp1-net-v4",
            "address-family": "IPv4"
        },
        {
            "name": " pl-pri-use1greenfieldp1-net-v4",
            "address-family": "IPv4"
        },
        {
            "name": " pl-pri-usw2brownfieldp1-net-v4",
            "address-family": "IPv4"
        },
        {
            "name": " pl-pri-use2brownfieldp1-net-v4",
            "address-family": "IPv4"
        },
        {
            "name": " pl-pri-use1brownfieldp1-net-v4",
            "address-family": "IPv4"
        },
        {
            "name": " pl-pub-globalroamingp1-net-v4",
            "address-family": "IPv4"
        },
        {
            "name": " pl-pub-globalpeerlessp1-net-v4",
            "address-family": "IPv4"
        },
        {
            "name": " pl-pri-chynetactp1-net-v4",
            "address-family": "IPv4"
        },
        {
            "name": " pl-pri-use1az1b311p1-net-v4",
            "address-family": "IPv4",
            "entries": {
                "Cidr": "10.231.0.0/20",
                "Description": "UPFD DFW e1"
            },
            "Tags": {
                "E1-UPFD-NET-GRP": "yes"
            }
        },
        {
            "name": " pl-pri-use1az1b311p1-lo-v4",
            "address-family": "IPv4",
            "entries": {
                "Cidr": "10.255.62.128/25",
                "Description": "UPFD loopback DFW"
            },
            "Tags": {
                "E1-UPFD-PRIV-LOOP-GRP": "yes"
            }
        },
        {
            "name": " pl-pub-use1az1b311p1-lo-v4 ",
            "address-family": "IPv4"
        },
        {
            "name": " pl-pub-use1az1b311p1-ue-v4",
            "address-family": "IPv4",
            "entries": {
                "Cidr": "161.188.140.0/23",
                "Description": "UPFD UEpool DFW"
            },
            "Tags": {
                "E1-UPFDUE-PUB-GRP": "yes"
            }
        },
        {
            "name": " pl-pri-use1az1b312p1-net-v4",
            "address-family": "IPv4",
            "entries": {
                "Cidr": "10.231.16.0/21",
                "Description": "CU DFW e1"
            },
            "Tags": {
                "E1-CU-NET-GRP": "yes"
            }
        },
        {
            "name": " pl-pri-use1az1op312p1-net-v4",
            "address-family": "IPv4"
        },
        {
            "name": " pl-pri-use1az1b313p1-net-v4",
            "address-family": "IPv4"
        },
        {
            "name": " pl-pri-use1az1b313p1-lo-v4",
            "address-family": "IPv4"
        },
        {
            "name": " pl-pub-use1az1b313p1-lo-v4 ",
            "address-family": "IPv4"
        },
        {
            "name": " pl-pub-use1az1b313p1-ue-v4",
            "address-family": "IPv4"
        },
        {
            "name": " pl-pri-use1az1b314p1-net-v4",
            "address-family": "IPv4"
        },
        {
            "name": " pl-pri-use1az1op314p1-net-v4",
            "address-family": "IPv4"
        },
        {
            "name": " pl-pri-use1az1b315p1-net-v4",
            "address-family": "IPv4"
        },
        {
            "name": " pl-pri-use1az1b315p1-lo-v4",
            "address-family": "IPv4"
        },
        {
            "name": " pl-pub-use1az1b315p1-lo-v4 ",
            "address-family": "IPv4"
        },
        {
            "name": " pl-pub-use1az1b315p1-ue-v4",
            "address-family": "IPv4"
        },
        {
            "name": " pl-pri-use1az1b316p1-net-v4",
            "address-family": "IPv4"
        },
        {
            "name": " pl-pri-use1az1op316p1-net-v4",
            "address-family": "IPv4"
        },
        {
            "name": " pl-pri-use1az1b317p1-net-v4",
            "address-family": "IPv4"
        },
        {
            "name": " pl-pri-use1az1b317p1-lo-v4",
            "address-family": "IPv4"
        },
        {
            "name": " pl-pub-use1az1b317p1-lo-v4 ",
            "address-family": "IPv4"
        },
        {
            "name": " pl-pub-use1az1b317p1-ue-v4",
            "address-family": "IPv4"
        },
        {
            "name": " pl-pri-use1az1b318p1-net-v4",
            "address-family": "IPv4"
        },
        {
            "name": " pl-pri-use1az1op318p1-net-v4",
            "address-family": "IPv4"
        },
        {
            "name": " pl-pri-use1az1b319p1-net-v4",
            "address-family": "IPv4"
        },
        {
            "name": " pl-pri-use1az1b319p1-lo-v4",
            "address-family": "IPv4"
        },
        {
            "name": " pl-pub-use1az1b319p1-lo-v4 ",
            "address-family": "IPv4"
        },
        {
            "name": " pl-pub-use1az1b319p1-ue-v4",
            "address-family": "IPv4"
        },
        {
            "name": " pl-pri-use1az1b320p1-net-v4",
            "address-family": "IPv4"
        },
        {
            "name": " pl-pri-use1az1op320p1-net-v4",
            "address-family": "IPv4"
        }
    ]
}